<!--
<button *ngIf=" data.mode != 'edit' " class="btn" (click)="file.click()">ფოტოს არჩევა</button>

<input #file (change)="onFileSelect($event)" type="file" style="display: none"/>
-->




<form [formGroup]="form">
    <div>
        <input formControlName="name" type="text">
    </div>
    <div>
        <input formControlName="lastName" type="text">
    </div>
    <div>
        <input formControlName="gender" type="text">
    </div>
    <div>
        <input formControlName="age" type="text">
    </div>
    <div>
        <input #file (change)="selectImage($event)" type="file" style="display: none"/>
    </div>
    <button (click)="submit()">{{data? 'Edit' : 'Add'}}</button>
</form>